@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: url("/assets/heroelement.png");
    background-repeat: no-repeat;
    background-position: center;
}

.apps {
    background-image: url("/assets/appsbg.png");
    background-repeat: no-repeat;
    background-position: center;
}